


* {
    margin: 0;
    padding: 0;
  }
  body {
    height: 100vh;
    width: 100vw;
    background: #18191f;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
  }
  h2{
    color: greenyellow;
    font-size: 6em;
    text-transform: uppercase;
    text-shadow: 0 0 50px #afff38, 0 0 100px #afff38, 0 0 150px #afff38,
      0 0 200px #afff38;
    position: relative;
    top: 60px;
  }
  #apple,
  #twitter,
  #github,
  #facebook,
  #liter,
  #liter-hov {
    font-size: 14em;
    background-color: #18191f;
    color: #fff;
     box-shadow: 2px 2px 2px #00000080, 10px 1px 12px #00000080,
      2px 2px 10px #00000080, 2px 2px 3px #00000080, inset 2px 2px 10px #00000080,
      inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080,
      inset 2px 2px 10px #00000080;
    border-radius: 8px;
    padding: 11px 19px;
    animation: animate 3s linear infinite;
    text-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff,
      0 0 200px #0072ff;
  }
  #liter,
  #liter-hov{
    font-size: 60px;
    padding: 20px 10vw;

    background-color: transparent;
    box-shadow: none;

  }
  #liter-hov{
    cursor: default;
    color: #0072ff;
    animation: none;
  }
  #liter-hov span.active{    
    animation: animate 1s linear infinite;
  }
  #twitter {
    animation-delay: 0.3s;
  }
  #facebook {
    animation-delay: 0.7s;
  }
  #github {
    animation-delay: 0.1s;
  }

  #hover-title.active{
    cursor: default;
    animation: animate 2s linear infinite;
  }

  
  @keyframes animate {
    from {
      filter: hue-rotate(0deg);
    }
    to {
      filter: hue-rotate(360deg);
    }
  }
  